<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/style.css"/>

        {% set titleVar = 'Group Website' %}

        <title>{{ title|default(titleVar) }}</title>
        <script>
        </script>
    </head>
    <body>
        <div id="container">
            <div id="navbar">
                <a href="/"> Home</a></br />
                <br>
                {% if isLoggedIn %}
                    Logged in as {{ loggedInUsername|raw }}.<br>
                    {% if isAdmin %}
                        <a href="/admin">Admin section</a> <br>
                    {% endif %}
                    <a href="/logout">Log out</a> <br>
                {% else %}
                    <a href="/register">Create user</a> <br />
                    <a href="/login">Login</a> <br>
                {% endif %}



            </div>
            <div id="content">
                <div id="flashinfo">{{ flash.info|raw }}</div>


                {% block content %}
                <h1>Main page!<h2>
                {% if isLoggedIn %}
                <h2> Private face </h2>
                {% else %}
                <h2> Public face </h2>
                {% endif %}
                
                
                {% endblock %}


            </div>
        </div>

        <div id="footer">
            {% block footer %}here be footer{% endblock %}
        </div>
    </body>
</html>
